@using MTS.Web.Models.Curriculum.Course
@model CourseCreateDto
@{
    ViewData["Title"] = "Edit Course";
}

<form method="post" class="mt-4">
    <div class="card shadow border-0">
        <div class="card-header bg-primary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white">Edit Course</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-12">
                    <input asp-for="CourseCode" type="hidden" />
                    <input asp-for="ProfessorUniversityId" type="hidden" />

                    <div class="form-floating py-2 col-12">
                        <input asp-for="Title" class="form-control border-0 shadow" />
                        <label asp-for="Title" class="ms-2"></label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <textarea asp-for="Description" class="form-control border-0 shadow" style="height:150px;"></textarea>
                        <label asp-for="Description" class="ms-2"></label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="row pt-3">
                        <div class="col-6 col-md-3">
                            <a asp-action="ProfessorCourses" class="btn btn-outline-primary form-control">Back to List</a>
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}