@using MTS.Web.Models.User.Student
@model StudentCreateDto
<div class="container border p-4">
    <div class="row text-center p-3">
        <h1>Student Registration</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Email" class="form-control" placeholder="Email..." />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Name" class="form-control" placeholder="Name..." />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password..." />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Major" class="form-control" placeholder="Major..." />
                <span asp-validation-for="Major" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="EnrollmentYear" class="form-control" placeholder="Enrollment Year..." />
                <span asp-validation-for="EnrollmentYear" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="UniversityId" class="form-control" readonly />
                <span asp-validation-for="UniversityId" class="text-danger" />
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <button type="submit" class="form-control btn btn-primary">Register as Student</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}