@{
    ViewData["Title"] = "Choose Registration Type";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Choose Registration Type</h1>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Register as Student</h5>
                            <p class="card-text">Students can register to access course materials and resources.</p>
                            <a asp-action="RegisterStudent" class="btn btn-primary btn-block">
                                Student Registration
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Register as Professor</h5>
                            <p class="card-text">Professors can register to manage courses and student interactions.</p>
                            <a asp-action="RegisterProfessor" class="btn btn-success btn-block">
                                Professor Registration
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>